<html>
    <head>
       <style>
      #menu li{
          display:inline;
          text-decoration:none;
          margin-left: 5px;

      }
      #menu a{
          text-decoration: none;
      }
     </style>

    </head>
    <body>
        <div id=menu>
            <ul>
              <a href=#1 > <li>ABOUT</li> </a>
               <a href=#2> <li>HOME</li></a>
               <a href=training.html> <li>TRAINING</li></a>
            </ul>
        </div>
        <div id=1 style="background-color:cyan ; height:200px ;width:200px ; display: inline-block;" >
           
        </div>
    <div id=2 style="background-color: blue; height:200px; width:200px; display: inline-block; ">
        </div>
    </body>
    <style>
        
    </style>
</html>